<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jidouauto.log.dao.ChannelDao">
    <sql id="BASE_TABLE">
        channel
    </sql>

    <sql id="BASE_COLUMN">
        channelId
        ,
        channelName,
        UNIX_TIMESTAMP
        (
        createTime
        )
        createTime,
        UNIX_TIMESTAMP
        (
        updateTime
        )
        updateTime
    </sql>

    <select id="getChannels" resultType="com.jidouauto.log.model.ChannelEntity">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>

    <select id="getChannel" resultType="com.jidouauto.log.model.ChannelEntity">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM channel
        WHERE channelId = #{channelId}
    </select>

    <insert id="insert" parameterType="com.jidouauto.log.model.ChannelEntity">
        INSERT INTO
            channel(channelName, createTime, updateTime)
        VALUES (#{channelName}, FROM_UNIXTIME(#{createTime}, '%Y-%m-%d
        %h:%i:%s'), FROM_UNIXTIME(#{createTime}, '%Y-%m-%d %h:%i:%s'))
    </insert>

    <update id="update" parameterType="com.jidouauto.log.model.ChannelEntity">
        UPDATE channel
        SET channelName       = #{channelName},
            channel.updateTime=FROM_UNIXTIME(#{updateTime}, '%Y-%m-%d %h:%i:%s')
        WHERE channelId = #{channelId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM channel
        WHERE channelId = #{channelId}
    </delete>


</mapper>